#no tests here pls
*.webm
*.flac
*.gif
*.ogg
*.mp3
*.gif
*.wav


httpfix.py
yt-dlp.exe
ytdl.py
*.log
New poster, Same Old Stale Baits.png
New poster, Same Old Stale Baits [sound=https%3A%2F%2Ffiles.catbox.moe%2Ftqrza0.ogg].png
.gitignore.orig
.vscode
requirements.txt

requirements.txt
slen.mp4
__pycache__
egg.txt